<%- include('partials/html-start.ejs') %>

<h1>Welcome World from EJS.</h1>

<p>I'm Ayman Alluhaybi</p>



<p>I <%= myTypeClient %> in This Semester.</p>

<form method="get" action="/name">
  <p>Tell us your name! Or something: </p>
  <input type="text" name="ejsFormName" value="<%= myTypeClient %>">
  <input type="submit">
</form>

<footer>
  Sent from a file on my node server, <a href="https://github.com/aalluhaybi1/LAB-NOVEMBER-486/" target="_blank">Source Code</a>
</footer>

<button class="btn btn-primary">Bootstrap working?</button>

<%- include('partials/html-end.ejs') %>
